<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Automation Training Site</title>
	<link rel="stylesheet" href="assets/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="assets/font-awesome.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; background-color:#D3D0BF;}
	</style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><i class="fa fa-bug"></i>
            <br>
 Automation Team</h1>
                <p>Bugs Make You Stronger</p>
            

            <a href="home" id="home" class="btn btn-default"><span class="fa fa-user"></span> start your challenge</a>
           
        </div>
    </div>
</body>
</html>