			<!-- views/profile.ejs -->
			<!doctype html>
			<html>
			<head>
				<title>Html - buttons</title>
				<link rel="stylesheet" href="assets/bootstrap.min.css">
				<link rel="stylesheet" href="assets/font-awesome.css">
		        <script src="assets/jquery.min.js"></script>
		        <script src="assets/bootstrap.min.js"></script>
				<style>
					.navbar-static-top {
			  margin-bottom:20px;
			}

			i {
			  font-size:18px;
			}

			footer {
			  margin-top:20px;
			  padding-top:20px;
			  padding-bottom:20px;
			  background-color:#efefef;
			  margin: 0px;
			}

			.selected{
				background-color: #eeeeee;
				border-right: solid 3px #666;

			}

			div.container > div > div.col-sm-9 > div > div.panel.panel-danger > div.panel-body > div.input-group.col-sm-7 > input[type="button"]{
				    display: inline-block;
				    padding: 6px 12px;
				    margin-bottom: 0;
				    font-size: 14px;
				    font-weight: normal;
				    line-height: 1.428571429;
				    text-align: center;
				    white-space: nowrap;
				    vertical-align: middle;
				    cursor: pointer;
				    background-image: none;
				    border: 1px solid transparent;
				    border-radius: 4px;
				    -webkit-user-select: none;
				    -moz-user-select: none;
				    -ms-user-select: none;
				    -o-user-select: none;
				    user-select: none
			}



				</style>


				<!-- Header -->
			<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
			  <div class="container">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			          <span class="icon-toggle"></span>
			      </button>
			      <a class="navbar-brand" href="#"> <i class="fa fa-cog"></i>  Automation Training site</a>
			    </div>
			    <div class="navbar-collapse collapse">
			      <ul class="nav navbar-nav navbar-right">


			      </ul>
			    </div>
			  </div><!-- /container -->
			</div>
			<!-- /Header -->
			</head>
			<body>
			<!-- Main -->
			<div class="container">

			  <!-- upper section -->
			  <div class="row">
				<div class="col-sm-3">
			      <!-- left -->
			      <h3><i class="fa fa-folder-open"></i> Toolbox</h3>
			      <hr>

						<ul class="nav nav-stacked">
	                  <li><a href="elements" id="htmelemnt-tab"><i class="fa fa-code"></i> Html Elements</a></li>
	                   <li><a href="practice" id="playwithelement-tab"><i class="fa fa-magic"></i> Play With Elements</a></li>
	 									<hr></hr>
	 									<h5>Level one</h5>
	 									<hr></hr>
	                   <li><a href="labelsandbuttons" id="labelsandbtn-tab"><i class="fa fa-certificate larg"></i> Labels &amp; Buttons</a></li>
	                   <li><a href="inputs" id="inputs-tab"><i class="fa fa-keyboard-o larg"></i> Inputs</a></li>
	                   <li><a href="inputsadvanced" id="inputsadvanced-tab"><i class="fa fa-plus-square-o larg"></i> Inputs - Advanced</a></li>
	                   <li><a href="dropdown" id="dropdownlist-tab"><i class="fa fa-list larg"></i> Dropdown lists</a></li>
	                   <li><a href="checkbox" id="checkbox-tab"><i class="fa fa-check-square-o larg"></i> Checkboxes</a></li>
	                   <li><a href="tables" id="tables-tab"><i class="fa fa-table larg"></i> Tables</a></li>
	 									<hr></hr>
	 									<h5>Level two</h5>
	 									<hr></hr>
	 									<li><a href="labelsandbuttons2" id="labelsandbtn-tab"><i class="fa fa-certificate larg"></i> Labels &amp; Buttons</a></li>
	 									<li><a href="inputs2" id="inputs-tab"><i class="fa fa-keyboard-o larg"></i> Inputs</a></li>
	 									<li><a href="inputsadvanced2" id="inputsadvanced-tab"><i class="fa fa-plus-square-o larg"></i> Inputs - Advanced</a></li>
	 									<li><a href="dropdown2" id="dropdownlist-tab"><i class="fa fa-list larg"></i> Dropdown lists</a></li>
	 									<li><a href="tables2" id="tables-tab"><i class="fa fa-table larg"></i> Tables</a></li>

	 									<hr></hr>
	 									<h5>Level three</h5>
	 									<hr></hr>
	 									<li><a href="labelsandbuttons3" id="labelsandbtn-tab"><i class="fa fa-certificate larg"></i> Labels &amp; Buttons - level three</a></li>
	 									<li><a href="inputs3" id="inputs-tab"><i class="fa fa-keyboard-o larg"></i> Inputs</a></li>
	 									<li><a href="inputsadvanced3" id="inputsadvanced-tab"><i class="fa fa-plus-square-o larg"></i> Inputs - Advanced</a></li>
	 									<li><a href="dropdown3" id="dropdownlist-tab"><i class="fa fa-list larg"></i> Dropdown lists</a></li>
	 									<li><a href="tables3" id="tables-tab"><i class="fa fa-table larg"></i> Tables</a></li>

	 									<hr></hr>
	                   <li><a href="advanced" id="advancedtopic-tab"><i class="fa fa-plus larg"></i> Advanced Topics</a></li>
	                   <hr>
	                   <li><a href="savedata" id="data-tab"><i class="fa fa-newspaper-o"></i> Data</a></li>
	                   <li><a href="storage" id="storage-tab"><i class="fa fa-database"></i> Storage</a></li>
	                   <hr>
	                   <li><a href="webservices" id="webservices-tab" ><i class="fa fa-server"></i></i> Web services</a></li>
	               </ul>

			      <hr>

			  	</div><!-- /span-3 -->
			    <div class="col-sm-9">

			      <!-- column 2 -->
			       <h3><i class="fa fa-link"></i> Labels And Buttons - <span class="label label-info">labels</span>

			       </h3>

			       <hr>

				   <div class="row">
				   	<div class="alert alert-info" role="alert"><i class="fa fa-comments"></i> Hey can you test my calculator ? i think you can <i class="fa fa-thumbs-o-up"></i></div>


					<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Level one</h3>
				  </div>
				  <div class="panel-body">


				<div class="input-group col-sm-2">
				<h2>
      				<label id="first-number" class="label label-default" placeholder="number one" aria-describedby="basic-addon1" type="text">590</label>
      				</h2>
    					</div>
    					<div class="input-group col-sm-2">
    					<h2>
      				<label id="sign" class="label label-default" placeholder="sign" aria-describedby="basic-addon1" type="text">+</label>
      				</h2>
    					</div>

				<div class="input-group col-sm-2">

      				<h2>
      				<label id="second-number" class="label label-default" placeholder="number two" aria-describedby="basic-addon1" type="text">5880</label>
      				</h2>
    					</div>

    					<div class="input-group col-sm-1">
    					<h2>
    					<label id="equal" class="label label-default">
    					=
    					</label>
    					</h2>
    					</div>

    					<div class="input-group col-sm-3">
    					<h2>
    					<label id="result" class="label label-default">

    					</label>
    					</h2>
    					</div>

    						<div class="input-group col-sm-7">
    							<br>
    					<button id="get-result" class="btn">Get Result</button>
    						</div>

    				</div>
				</div>
<!-- end level -->







			<script type="text/javascript">
			$('body').on('click', '#get-result', function(){
				var fNumber = $('#first-number').text();
				var sNumber = $('#second-number').text();
				var sign = $('#sign').text();
				if(sign == '+'){
					$('#result').text( (parseInt(fNumber) + parseInt(sNumber)))
				}

				 	if(sign != '+'){
				 	$('#result').text('sorry i can\'t be perfect');
					 }

			});

			$('body').on('click', '.btn:nth(1)', function(){
				var fNumber = $('.label-default:nth(5)').text();
				var sNumber = $('.label-default:nth(7)').text();
				var sign = $('.label-default:nth(6)').text()
				var newSign = sign.replace(/\s/g, '');

				if(newSign == '-'){
					$('.str').text("$ " + (parseInt(fNumber) - parseInt(sNumber)))
				}else{$('.str').text('sorry i can\'t be perfect');}

			});

			$('body').on('click', 'input[type="button"]', function(){
				var fNumber = $('label:nth(10)').text()
				var sNumber = $('label:nth(12)').text()
				var sign = $('label:nth(11)').text()
				var newSign = sign.replace(/\s/g, '');
				var cssPath = 'div.col-sm-9 > div > div:nth-child(4) > div.panel-body > div:nth-child(5) > h2 >  label';

				 if(newSign == '/'){
					$(cssPath).text("$ " + (parseInt(fNumber) + parseInt(sNumber)))
				}
				else{
					$(cssPath).text('sorry i can\'t be perfect');
				}


			});

			// make tab selected

			 $(document).ready(function(){
			 	$links = $('.nav-stacked li a');
			 	var url = (window.location.href).split('/');
			 	$links.each(function(link){
			 		if( ($(this).attr('href')) == url[3] ){
			 			$(this).addClass('selected');
			 		}
			 	});
			 });

			</script>

		  		</div><!--/row-->



			 	 </div><!--/row-->
			  	<!-- /upper section -->


			        </div><!--/panel content-->
			      </div><!--/panel-->
				</div><!--/container-->
			<!-- /Main -->
			<footer id="footer" class="text-center">created by automation team @ <a href="http://www.aspire.jo"><b>Aspire.jo</b></a></footer>
			</body>

			</html>
